/* Remove if fonts are not used */
@import '~@fontsource/inter/100.css';
@import '~@fontsource/inter/200.css';
@import '~@fontsource/inter/300.css';
@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/500.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/inter/700.css';
@import '~@fontsource/inter/800.css';
@import '~@fontsource/inter/900.css';
@import '~@fontsource/roboto-mono/300.css';
@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/plus-jakarta-sans/600.css';
@import '~@fontsource/plus-jakarta-sans/700.css';

/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
}

h1, h2, h3 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

input[type="text"]:focus {
  border-color: #007bff;
}

/* Spinner and Checkmark styles */
.spinner {
  font-size: 24px;
  color: #007bff;
}

.checkmark {
  font-size: 24px;
  color: #28a745;
}

/* Processing box */
.processing-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.processing-box button {
  margin-left: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
